{% extends 'blog/base.html' %}
{% load app_filters %}


{% block content %}
    {% for post in posts %}
    <div class="post">
        <div class="data">
            <p>
                <span class="glyphicon glyphicon-time"></span> {{ post.published_date }}
                <span class="glyphicon glyphicon-user"></span> <strong>{{ post.author|capfirst }}</strong>
            </p>
        </div>
        <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>

        {% with post.approved_comments.count as comments_approved %}
           {{ comments_approved }}<a href="{% url 'post_detail' pk=post.pk %}">
            {{ comments_approved|get_polish_endings_of_the_word_comment }}</a>
        {% endwith %}


<!--        liczba komentarzy wraz z ikonką dostarczaną wraz z bootstrapem -->
<!--        <span class="glyphicon glyphicon-comment"></span> <a href="{% url 'post_detail' pk=post.pk %}">-->
<!--        {{ post.approved_comments.count }}</a>-->

    </div>
    {% endfor %}
{% endblock %}